@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: var(--primary) !important;
}

body::-webkit-scrollbar {
  display: none !important;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --sidebarWidth: 190px;
}

.theme-light {
  --card-bg: #f9f9f9;
  --text-primary: #000000;
  --text-secondary: #ffffff;
  --text-tertiary: #6a6a6a;
  --primary: #f7f7f7;
  --primary-light: #ffffff;
  --glass: #ffffffbf;
  --secondary: #000000;
  --secondary-light: #c6c6c6;
  --tertiary: #8a8a8a;
  --color-primary: #1900ff;
  --color-secondary: #314db2;
  --hover-bg: #f5f5f5;
  --highlight: #ffffffbf;
}

.theme-dark {
  --card-bg: #1e1e1e;
  --text-primary: #ffffff;
  --text-secondary: #000000;
  --text-tertiary: #c6c6c6;
  --primary: #000000;
  --primary-light: #050505;
  --glass: #ffffff00;
  --secondary: #ededed;
  --secondary-light: #6a6a6a;
  --tertiary: #2a2a2a;
  --color-primary: #1900ff;
  --color-secondary: #314db2;
  --hover-bg: #ffffff1c;
  --highlight: #ffffff31;
}

div,
p,
h1,
h2,
header,
button,
a,
input,
textarea,
select,
span,
h3,
h5,
svg {
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke !important;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms !important;
}

span,
h3 {
  font-family: "inter", sans-serif;
}

.editor h1 {
  font-size: 2.5rem;
}

.editor h2 {
  font-size: 2rem;
}

.editor h3 {
  font-size: 1.75rem;
}

.editor h4 {
  font-size: 1.5rem;
}

.editor h5 {
  font-size: 1.25rem;
}

.editor p {
  font-size: 1rem;
}

.sidebar {
  width: var(--sidebarWidth);
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
}

.scroll-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.navigator {
  width: calc(100% - var(--sidebarWidth));
}

.container-modal {
  width: calc(100% - var(--sidebarWidth));
}

.slide-up {
  animation: slideUp 0.15s cubic-bezier(0.075, 0.82, 0.165, 1) both;
}

.hero-login::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 700px;
  background: radial-gradient(
    circle,
    var(--color-primary),
    var(--color-secondary)
  );
  border-radius: 50%;
  z-index: -1;
  opacity: 0.6;
  transform: translateX(-50%);
  bottom: -300px;
  left: 50%;
  filter: blur(250px);
  animation: breathing 7s ease-in-out infinite;
}

.card-main {
  transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 400ms cubic-bezier(0.4, 0, 0.2, 1);
  /* box-shadow: 0 30px 80px 0px var(--tertiary); */
  animation: fadeIn 0.6s ease-in-out forwards, zoomIn 0.3s ease-in-out;
  opacity: 0;
}

.theme-dark .card-main {
  box-shadow: 0 30px 80px 0px #ffffff08;
}

.card-main:hover {
  transform: scale(1.02);
}

.text-clamp-2 {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card-main-banner {
  transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 400ms cubic-bezier(0.4, 0, 0.2, 1);

  box-shadow: 0 50px 90px 1px rgba(0, 0, 0, 0.26);
  animation: fadeIn 0.6s ease-in-out forwards, zoomIn 0.3s ease-in-out;
  opacity: 0;
}

.card-main-banner:hover {
  box-shadow: 0 50px 110px 1px rgba(0, 0, 0, 0.5);
  transform: scale(1.02);
}

.fade-in {
  opacity: 0;
}

.card-notes {
  transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 400ms cubic-bezier(0.4, 0, 0.2, 1);

  box-shadow: 0 50px 90px 1px rgba(0, 0, 0, 0.26);
  animation: fadeIn 0.6s ease-in-out forwards,
    translateY 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.1);
  opacity: 0;
}

.card-notes:hover {
  box-shadow: 0 50px 110px 1px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
}

.reflection {
  position: relative;
  overflow: hidden;
}

.reflection::after {
  content: "";
  display: block;
  width: 30px;
  height: 100%;
  position: absolute;
  top: -180px;
  left: 0;
  background-color: #e6e5e5;
  opacity: 0;
  transform: rotate(45deg);
  transition: opacity 0.3s ease-in-out;
}

.reflection::after {
  opacity: 1;
  animation: reflect 7s ease-in-out infinite;
  -webkit-animation: reflect 7s ease-in-out infinite;
}

.stickyTitle {
  position: relative;
  transition: position 0.3s, top 0.3s ease-in-out;
}

.sticky {
  position: sticky;
  top: 74px;
  z-index: 100;
}

@media screen and (max-width: 767px) {
  :root {
    --sidebarWidth: 57px;
  }
}

.container-items {
  width: 100%;
  width: calc(100% - var(--sidebarWidth));
  margin-left: var(--sidebarWidth);
}

.ql-container {
  border: none !important;
}

.ql-editor {
  height: calc(100vh - 385px) !important;
}

.ql-toolbar {
  border: none !important;
  border-bottom: 1px solid #e6e5e5 !important;
  background-color: #fafafa;
  width: 100%;
}

.shake {
  animation: shake 0.3s ease-in-out;
}

.note-title {
  position: relative;
}

.note-title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/vichy.png");
  background-size: cover;
  background-position: center;
  opacity: 0.9;
  z-index: -1;
}

.loader {
  width: 35px;
  aspect-ratio: 1;
  --c1: linear-gradient(
    90deg,
    #0000 calc(100% / 3),
    #0000003c 0 calc(2 * 100% / 3),
    #00000000 0
  );
  --c2: linear-gradient(
    0deg,
    #0000 calc(100% / 3),
    #0000003c 0 calc(2 * 100% / 3),
    #0000 0
  );
  background: var(--c1), var(--c2), var(--c1), var(--c2);
  background-size: 300% 4px, 4px 300%;
  background-repeat: no-repeat;
  animation: l3 1.3s infinite linear;
  width: 100%;
  position: absolute;
  height: 100%;
}

.spinner-save-data-button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

.skeleton {
  background: linear-gradient(90deg, #e0e0e0 25%, #fafafa 50%, #e0e0e0 75%);
  background-size: 400% 100%;
  animation: shimmer 4s infinite;
  border-radius: 8px;
}

.intelligence-container {
  position: relative;
}

.intelligence-effect {
  background: linear-gradient(
    45deg,
    #3b82f6,
    #8b5cf6,
    #ec4899,
    #3b82f6,
    #8b5cf6
  );
  background-size: 400% 400%;
  animation: intelligenceGradient 0.1s ease infinite;
  z-index: 1;
  opacity: 0.9;
  border-radius: 0.5rem;
}

.intelligence-container::after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  background: linear-gradient(
    45deg,
    #3b82f680,
    #8b5cf680,
    #ec489980,
    #3b82f680
  );
  background-size: 500% 500%;
  filter: blur(30px);
  animation: intelligenceGradient 3s ease infinite;
  z-index: 0;
  border-radius: 1rem;
  opacity: 0.6;
}

.buttonAI {
  border: 2px solid transparent;
  background-image: linear-gradient(#000000),
    linear-gradient(to right, #3b82f6, #8b5cf6, #ec4899);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.fade-in-word {
  display: inline-block;
  opacity: 0;
}

.fade-in-word.active {
  animation: fadeInText 0.5s ease-out forwards;
}

.fade-in-char {
  display: inline-block;
  opacity: 0;
  animation: fadeInText 0.3s forwards;
}

.editor h1 {
  font-size: 2.5em;
  color: darkblue;
}

.editor h2 {
  font-size: 1.8em;
  color: darkred;
}

.container-items {
  font-family: sans-serif;
  font-weight: 300;
  /* background: url(https://raw.githubusercontent.com/lucasromerodb/liquid-glass-effect-macos/refs/heads/main/assets/flowers.jpg) center center; */
  background-size: 300px;
  height: 100vh;
  -webkit-animation: moveBackground 120s linear infinite;
  animation: moveBackground 120s linear infinite;
}

.glass {
  position: relative;
  padding: 12px 24px;
  border-radius: 12px;
  overflow: hidden;
  background: transparent;
  transition: transform 0.2s ease;
  outline: none;
}

.glass-filter,
.glass-overlay,
.glass-specular {
  position: absolute;
  inset: 0;
  border-radius: inherit;
}

.glass-filter {
  z-index: 1;
  backdrop-filter: blur(4px);
  filter: url(#glass-distortion) saturate(120%) brightness(1.15);
}

.glass-overlay {
  z-index: 2;
  background: var(--);
}

.glass-specular {
  z-index: 3;
  box-shadow: inset 1px 1px 1px var(--highlight);
  border: 0.05px solid var(--highlight);
}

.glass-content {
  position: relative;
  z-index: 4;
  color: var(--text);
  font-weight: 500;
  font-size: 16px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes translateY {
  from {
    transform: translateY(400px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  60% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes reflect {
  0% {
    transform: scale(0) rotate(45deg);
    opacity: 0;
  }
  80% {
    transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }
  81% {
    transform: scale(4) rotate(45deg);
    opacity: 1;
  }
  100% {
    transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}

@-webkit-keyframes reflect {
  0% {
    transform: scale(0) rotate(45deg);
    opacity: 0;
  }
  80% {
    transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }
  81% {
    transform: scale(4) rotate(45deg);
    opacity: 1;
  }
  100% {
    transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes rotateBackground {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@keyframes l3 {
  0% {
    background-position: 50% 0, 100% 100%, 0 100%, 0 0;
  }
  25% {
    background-position: 0 0, 100% 50%, 0 100%, 0 0;
  }
  50% {
    background-position: 0 0, 100% 0, 50% 100%, 0 0;
  }
  75% {
    background-position: 0 0, 100% 0, 100% 100%, 0 50%;
  }
  75.01% {
    background-position: 100% 0, 100% 0, 100% 100%, 0 50%;
  }
  100% {
    background-position: 50% 0, 100% 0, 100% 100%, 0 100%;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes shimmer {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}

@keyframes intelligenceGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes fadeInText {
  0% {
    opacity: 0;
    transform: translateX(80px) scale(0.2);
    filter: blur(20px);
  }
  50% {
    opacity: 0.5;
    transform: translateX(50px) scale(0.5);
    filter: blur(15px);
  }
  100% {
    opacity: 1;
    transform: translateX(0) scale(1);
    filter: blur(0);
  }
}

@-webkit-keyframes moveBackground {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 0% -1000%;
  }
}

@keyframes moveBackground {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 0% -1000%;
  }
}

@keyframes breathing {
  0%,
  100% {
    transform: translateX(-50%) scale(1);
    opacity: 0.5;
  }
  50% {
    transform: translateX(-50%) scale(1.2);
    opacity: 0.8;
  }
}
